p,
a {
    font-size: 18px;
    line-height: 28px;
}

.green_bg {
    background-color: #1D1A15;
}

.gray_bg {
    background-color: #F4F5F5;
}

.about_content_sec {
    padding: 0px 15px;
}

.login_popop_cls input {
    background: transparent;
    border: 1px solid #000;
    border-radius: 0px !important;
    height: 44px !important;
    padding: 0px 10px !important;
}

.org_bg_light {
    background-color: #C2AA902B;
}

.login_popop_cls .pddtop_0 {
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.dt_text {
    color: #1D1A15 !important;
}

.animate-underline-white:after {
    bottom: -5px;
    background: #1D1A15;
}

.fs40 {
    font-size: 40px;
    font-weight: 500;
}

.main_heading {
    font-weight: 400;
    font-size: 44px;
    line-height: 44px;
    letter-spacing: 0.5px;
}

.text_clr_green {
    color: #1D1A15
}

.w100 {
    width: 90px;
}

.shop_box_content {
    padding: 0 130px;
}

.shop_box_content h4 {
    font-size: 40px;
}

/*-- banner css--*/

.banner_video::before {
    content: '';
    position: absolute;
    background: #0000007a;
    z-index: 99;
    width: 100%;
    height: 100%;
}

.banner_sliders ol.carousel-indicators {
    margin-bottom: 24px !important;
}

.banner_content {
    position: absolute;
    width: 100%;
    bottom: 100px;
    z-index: 999;
    text-align: center;
    left: -10px;
}

.top_baar_icons img {
    width: 22px !important;
    margin-right: 7px;
    margin-top: 8px;
}

.banner_content h4 {
    color: #fff;
    font-size: 65px;
    line-height: 70px;
    font-weight: 500;
    letter-spacing: 0.5px;
}


/*--testiminioal css open--*/

#customers-testimonials .item {
    text-align: center;
    padding: 0px;
    margin-bottom: 20px;
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#customers-testimonials .slick-center .item {
    opacity: 1;
    -webkit-transform: scale3d(1.0, 1.0, 1);
    transform: scale3d(1.0, 1.0, 1);
}

#customers-testimonials .slick-slide img {
    transform-style: preserve-3d;
    max-width: 70px;
    margin: 0 auto 17px;
}

#customers-testimonials .slick-slide {
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

.shadow-effect {
    background: #fff;
    padding: 50px 30px 20px 30px;
    border-radius: 0;
    text-align: center;
    min-height: 350px;
}

#customers-testimonials .shadow-effect p {
    font-weight: 500;
    text-align: left;
}

.testimonial-name {
    margin: -17px auto 0;
    display: table;
    width: auto;
    background: #3190E7;
    padding: 9px 35px;
    border-radius: 12px;
    text-align: center;
    color: #fff;
    box-shadow: 0 9px 18px rgba(0, 0, 0, 0.12), 0 5px 7px rgba(0, 0, 0, 0.05);
}

.shadow-effect h4 {
    font-size: 14px;
    text-align: left;
    padding-top: 10px;
}

.location_section img {
    height: 370px;
    object-fit: cover;
    object-position: top;
}

.quote_icon {
    position: absolute;
    right: 23px;
    top: 0px;
}

button.slick-prev.slick-arrow {
    display: none !important;
}

button.slick-next.slick-arrow {
    display: none !important;
}

#customers-testimonials .slick-slide.slick-current.slick-active.slick-center {
    opacity: 1 !important;
}

#customers-testimonials .rating1 {
    margin-bottom: 15px;
}

/*--testiminioal css close--*/

.shop_content {
    font-weight: 400;
    font-size: 55px;
    line-height: 76px;
}

.about_heads {
    font-size: 35px;
    font-weight: 600;
}

p.about_content_para1 {
    font-size: 35px;
    font-weight: 500;
    line-height: 43px;
}

.about_content_para2 {
    font-weight: 500;
}

.discovery_content {
    position: absolute;
    bottom: 30px;
    text-align: center;
    z-index: 999;
}

.discovery_content h4 {
    color: #fff;
    font-size: 55px;
    font-weight: 500;
    line-height: 70px;
    letter-spacing: 0.5px;
}

.header_position {
    position: relative;
}

.breacrums_bg {
    position: relative;
    width: 100%;
    background-size: cover;
    padding: 20px 0px 45px 0px;
    background-position: center;
}

.about_bg1 {
    position: relative;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.category_name_text {
    font-size: 24px;
    font-weight: 400;
}

.uinique_box {
    height: 100%;
    text-align: center;
}


.title_bg_clr {
    width: 100%;
    text-align: center;
    background: rgb(0 0 0 / 20%);
    padding: 10px;
    font-size: 24px;
    font-weight: 500;
    display: block;
}

.discover_absolute {
    position: absolute;
    bottom: 50px;
    width: 100%;
}

.discover_text {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    display: block;
    padding-top: 8px;
    border-bottom: 1px solid #fff;
    width: 130px;
    margin-left: auto;
    margin-right: auto;
}

.unique_section .uinique_box img {
    width: 90px;
    margin-bottom: 30px;
}

.unique_section ul.slick-dots {
    position: absolute;
    bottom: 77px;
    width: 100%;
    text-align: center;
    background: rgb(0 0 0 / 20%);
    padding: 20px 0px;
    display: flex;
    justify-content: center;
}

.unique_section ul.slick-dots li {
    float: left;
    border: 1px solid #ffffff;
    margin-right: 11px;
    list-style: none;
    background: transparent;
    height: 10px;
    width: 10px;
    border-radius: 100px;
    cursor: pointer;
}

.unique_section ul.slick-dots li button {
    display: none;
}

.unique_section ul.slick-dots li.slick-active {
    background: #fff;
}

.pddright-100 {
    padding-right: 130px;
}

.footer_arrow {
    width: 7px;
    position: relative;
    top: -2px;
    margin-right: 5px;
}

.footer_social_media a,
.footer_social_media a i {
    background: transparent !important;
    font-weight: 400;
    width: auto !important;
}

.listing_tabs button {
    background: transparent !important;
    color: #000 !important;
    border: 0;
    font-weight: 500;
    font-size: 24px;
    padding: 0;
    margin: 0px 20px !important;
    border-radius: 0 !important;
}

.listing_tabs button.active {
    border-bottom: 1px solid;
    border-radius: 0;
}

.front-header-search.active {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1 !important;
    top: 0px;
}

.front-header-search {
    position: absolute;
    z-index: 111;
    width: 100%;
    height: 70%;
    top: -33px;
    right: 0;
    left: 0;
    opacity: 0;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transition: .3s;
    -webkit-transition: .3s;
}

.mt-23 {
    margin-top: 12px;
}

.mt-19 {
    margin-top: 10px;
}

.mt-13 {
    margin-top: 8px;
}

.logo_width {
    width: 300px !important;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.search-input-box>input {
    border-radius: 50px !important;
    overflow: hidden;
    height: 50px !important;
}

.search-input-box .form-control:focus {
    border-width: 1px !important;
    border-color: #0000003b !important;
}

.shop_now_button a:hover {
    background: #fff;
    color: #000 !important;
    border: 1px solid #fff;
}

.shop_now_button a {
    border: 1px solid;
    padding: 10px 20px 7px 20px;
    margin-top: 20px;
    display: inline-block;
}

.shop_now_button2 a:hover {
    background: #1D1A15;
    color: #fff !important;
    border: 1px solid #1D1A15;
}

.shop_now_button2 a {
    border: 1px solid;
    padding: 10px 20px 7px 20px;
    margin-top: 20px;
    color: #1D1A15;
    display: inline-block;
}

.shop_now_button3 a:hover {
    background: #fff;
    color: #1D1A15 !important;
    border: 1px solid #fff;
}

.shop_now_button3 a {
    border: 1px solid;
    padding: 10px 20px 7px 20px;
    margin-top: 20px;
    color: #fff;
    display: inline-block;
}

.img_hover1 {
    transition: 0.5s all;
}

.img_hover1 img:hover {
    transform: scale(1.1);
    transition: 0.5s all;
}

.category_images {
    padding: 20px;
}

.category_images img {
    width: 60%;
    margin: 0 auto;
    transition: 0.5s all;
}

.position_contens {
    position: absolute;
    bottom: 40%;
}

.aboutbg_logo {
    position: absolute;
    left: 25%;
    top: 16px;
}

.margintp8 {
    margin-top: -8px
}

.discovery_section img {
    height: 100vh;
}

.product_category_tabs {
    margin-top: -8px;
    background: #fff;
    position: relative;
}

.add_cart_btns {
    border: 1px solid #1D1A15c7;
    color: #1D1A15 !important;
    opacity: 0.8;
    margin-top: 14px;
    font-weight: 300 !important;
}

.custom-object-contain {
    object-fit: contain;
}

.mt_20 {
    margin-top: -25px;
}

#nav-user-info {
    margin-top: -6px !important;
}

.top-65 {
    top: 24%;
}

.hov-svg-green:hover>svg * {
    fill: #1D1A15;
}

.bottom40 ul.slick-dots {
    bottom: 40px;
}

.product_listing_content h4 {
    font-size: 40px;
    font-weight: 500;
}

.animate_button,
.animate_button::after {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}


.animate_button {
    background: none;
    border-radius: 1px;
    display: inline-block;
    font-size: 1.6em;
    margin: 1em auto;
    width: auto;
    padding: 10px 20px 7px 20px;
    position: relative;
}

.animate_button::before,
.animate_button::after {

    content: '';
    position: absolute;
    z-index: -1;
}

.white_buttons {
    border: 1px solid #fff;
    color: #fff;
}

.white_buttons::before,
.white_buttons::after {
    background: #fff;
}

.white_buttons:hover {
    color: #1D1A15;
}

/*-- black button --*/

.black_buttons {
    border: 1px solid #1D1A15;
    z-index: 1;
    color: #1D1A15;
}

.black_buttons::before,
.black_buttons::after {
    background: #1D1A15;
}

.black_buttons:hover {
    color: #fff;
}

/* BUTTON 3 */
.animate_button {
    overflow: hidden;
}

.animate_button::after {
    /*background-color: #f00;*/
    height: 100%;
    left: -43%;
    top: 0;
    transform: skew(50deg);
    transition-duration: 0.6s;
    transform-origin: top left;
    width: 0;
}

.animate_button:hover:after {
    height: 100%;
    width: 145%;
}

.black_color_buttons {
    background: #523A33;
}

.min-w-180px {
    width: 200px;
    padding-top: 12px;
    padding-bottom: 8px !important;
}

.black_color_buttons:hover {
    background: #523A33;
}

.gray_color_buttons {
    background: #1D1A15;
    color: #fff !important;
}

.gray_color_buttons:hover {
    background: #1D1A15d6;
}

.contact_form_box input,
.contact_form_box textarea {
    padding: 0;
    background: transparent !important;
    border: 0;
    border-bottom: 1px solid #1D1A15;
    font-size: 16px;
}

.contact_form_box input::placeholder,
.contact_form_box textarea::placeholder {
    color: #1D1A15;
}

/* .contact_form_box a:hover,
.contact_form_box button:hover {
    background: #1D1A15;
    color: #fff !important;
    border: 1px solid #1D1A15;
} */

.contact_form_box a,
.contact_form_box button {
    border: 1px solid;
    padding: 10px 20px 7px;
    margin-top: 20px;
    color: #1D1A15;
    display: inline-block;
    width: 160px;
    text-align: center;
}

.contact_image_box img {
    height: 750px;
    object-fit: cover;
    object-position: center;
}

.contact_form_box .aboutbg_logo {
    position: absolute;
    left: 25%;
    top: 19%;
}

.contact_form_box .aboutbg_logo img {
    width: 156%;
    opacity: 0.87;
}

.breadcrums_sedction h4 {
    font-size: 40px;
    padding-top: 40px;
}

.breadcrums_sedction li span {
    position: relative;
    top: 2px;
}

.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    color: #fff;
    content: "/";
    top: 2px;
    position: relative;
}

.shop_imges img:hover {
    transform: scale(1.1);
}

.uinique_slider img:hover {
    transform: scale(1.1);
}

.product_boxex:hover .add_cart_btns {
    color: #fff !important;
    background: #000;
}

.height_250 img {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.height_250 {
    height: 300px !important;
    object-fit: cover;
}

.footer-widget .animate-underline-white:after {
    bottom: -5px;
    background: #fff;
}

.offer_coupon p {
    color: #1D1A15;
    margin-bottom: 0;
    font-size: 22px;
    font-weight: 500;
}

.offer_coupon {
    background: #fff;
    position: absolute;
    z-index: 0;
    right: -58px;
    bottom: 100px;
    transform: rotate(-39deg);
    padding: 10px 102px;
}

body .padd-0 {
    padding: 0px !important;
}

.btn-sm {
    padding: 0.616rem 1rem 0.4rem !important;
}

body .form-control:focus {
    border-width: 1px !important;
}

.btn {
    padding: 0.6rem 1.2rem 0.3rem !important;
}

.copy_rights a {
    font-size: 16px;
    font-weight: 500;
    color: #1D1A15 !important;
}

.product_boxex ol.carousel-indicators li.active {
    width: 25px;
}


.product_boxex .carousel-indicators li {
    width: 4px;
    background-color: #1D1A15;
}

.size_buttons {
    background: #F4F5F5;
    color: #1D1A15 !important;
    width: 90px !important;
}

.product_boxex ol.carousel-indicators {
    bottom: -20px;
}

.profile_img_box {
    width: 80%;
}

.spots_lights .gallery-thumbs {
    height: 100%;
}

.spots_lights .gallery-thumbs .swiper-wrapper {
    align-items: center;
}

.spots_lights .gallery-thumbs .swiper-slide img {
    filter: contrast(1) blur(px);
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0px;
}

.spots_lights .swiper-button-next:after,
.spots_lights .swiper-button-prev:after {
    font-size: 30px;
}

.spots_lights .gallery-thumbs .swiper-slide-active img {
    filter: contrast(1) blur(0px) !important;
}

.spots_lights .gallery-thumbs .swiper-wrapper {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.spots_lights .swiper-container.testimonial {
    height: 100vh;
}

.spots_lights .swiper-button-prev {
    left: 47%;
    right: auto;
    top: 97%;
    color: #fff;
}

.spots_lights .swiper-container.gallery-thumbs {
    padding-bottom: 55px;
}

.spots_lights .swiper-button-next {
    right: 46%;
    left: auto;
    top: 97%;
    color: #fff;
}

.follow_heads {
    font-weight: 400;
    font-size: 26px;
    line-height: 44px;
    letter-spacing: 0.5px;
}

.contact_image_box {
    position: absolute;
    top: 40px;
    left: 75px;
}

.contact_welcome_test {
    color: #fff;
    font-size: 55px;
    padding-top: 40px;
}

.contact_image_box img {
    width: 20px !important;
    height: 26px;
    margin-right: 10px;
}

section.contact_us_sec .row_box .coloum_boxex_shadow {
    box-shadow: 0px 0px 30px -8px #0000008f;
    border-radius: 0px 50px 50px 0px;
    align-items: center;
    display: flex;
}

section.contact_us_sec .row_box .w-100 {
    border-radius: 50px 0px 0px 50px;
}

.font_55 {
    font-size: 36px;
    padding: 0 200px !important;
    line-height: 48px;
}

.signature_image img:hover {
    transform: scale(1.1);
}

.signature_box img {
    transition: 0.5s all;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.signature_image {
    overflow: hidden;
    transition: 0.5s all;
}

.profile_names {
    position: absolute;
    right: 0px;
    max-width: 250px;
    bottom: 20px;
    text-align: center;
}

.profile_names h4 {
    color: rgba(215, 195, 145, 1);
    font-size: 18px;
    margin-bottom: -5px;
}

.profile_names p {
    color: rgba(215, 195, 145, 1);
    font-size: 12px;
    font-weight: 300;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.disabled,
.btn-primary:disabled,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show>.btn-outline-primary.dropdown-toggle {
    background-color: #523A33 !important;
    border-color: #523A33 !important;
}

.btn-primary,
.btn-soft-primary:hover,
.btn-outline-primary:hover {
    background-color: #523A33 !important;
    border-color: #523A33 !important;
}

.light_gray_bg {
    background-color: #F4F5F5;
}

.position_contens .w-100.text-center {
    width: 91.6% !important;
    left: -4.3% !important;
    position: relative;
}

.aniversary_logo img {
    width: 250px;
    margin: 0 auto;
    display: block;
}

.signature_image {
    position: relative;
    width: 100%;
    max-width: 600px;
    height: auto;
    overflow: hidden;
}

.signature_image::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgb(0 0 0 / 0%), rgb(0 0 0 / 60%));
    pointer-events: none;
}

.sign_head {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 20px;
}

.carousel-indicators li.active {
    background: #fff;
}

.carousel-indicators li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 10px;
    height: 10px;
    border-radius: 100% !important;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: transparent;
    background-clip: padding-box;
    opacity: .5;
    transition: opacity .6s ease;
    border: 1px solid #fff;
}


li,
span,
h1,
h2,
h3,
h4,
h5,
h6,
a {
    letter-spacing: 0.5px;
}

.banner_contents h4 {
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.banner_contents {
    width: 50%;
    margin: 0 auto;
}

.banner_sliders .carousel-caption {
    padding-bottom: 10px !important;
}

.video_section img {
    height: 100vh;
    object-fit: cover;
    object-position: center;
}

body .iti__selected-flag {
    background: transparent !important;
    border: 0px !important;
}

.add_cart_btns span.cart-btn-text {
    padding-top: 5px;
}

.iti--allow-dropdown input {
    padding-left: 80px !important;
}

.text-truncate-1 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.heart_section img {
    height: 100vh;
    object-fit: cover;
}

section#prduct_care img {
    height: 600px;
    object-fit: cover;
    object-position: center;
}

section#crafted_for_eternity img {
    height: 600px;
    object-fit: cover;
    object-position: center;
}

section#our_shops img {
    height: 600px;
    object-fit: cover;
    object-position: center;
}

.container {
    max-width: 1520px;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
}

.border_bottom_0 {
    border-bottom: none !important;
}

.footer_logo img {
    width: 200px;
    height: auto;
}

.black_color_buttons:hover {
    background: #000;
}

/*-- mobile device css---*/

@media(max-width:767px) {
    html {
        overflow-x: hidden;
    }

    section#prduct_care img {
        height: auto;
        object-fit: cover;
        object-position: center;
    }

    .footer_logo img {
        width: 100px;
        height: auto;
    }

    .search-input-box>svg {
        top: 5px;
    }

    .container {
        max-width: 100%;
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    section#crafted_for_eternity img {
        height: auto;
        object-fit: cover;
        object-position: center;
    }

    section#our_shops img {
        height: auto;
        object-fit: cover;
        object-position: center;
    }

    .heart_section img {
        height: auto;
        object-fit: cover;
    }

    .font_16 a {
        font-size: 16px;
    }

    .location_section img {
        height: auto;
        object-fit: cover;
        object-position: top;
    }

    .shop_box_content {
        padding: 0 30px;
    }

    .shop_box_content h4 {
        font-size: 20px;
    }

    .about_content_sec {
        padding: 0px 0px;
    }

    .sign_head {
        width: 92%;
        bottom: 10px;
    }

    .animate_button {
        background: none;
        border-radius: 1px;
        display: inline-block;
        font-size: 1.1em;
        margin: 1em auto;
        width: auto;
        padding: 5px 10px 3px 10px;
        position: relative;
    }

    .video_section img {
        height: auto;
        object-fit: cover;
        object-position: center;
    }

    .signature_box {
        margin-bottom: 15px;

    }

    .position_contens .w-100.text-center {
        width: 100%;
        left: 0;
        position: relative;
    }

    .category_images {
        padding: 0px;
    }

    .spots_lights .swiper-button-prev {
        left: 40%;
        right: auto;
        top: 93%;
        color: #fff;
    }

    .diplay_none {
        display: none;
    }

    .spots_lights .swiper-button-next:after,
    .spots_lights .swiper-button-prev:after {
        font-size: 20px;
    }

    .spots_lights .swiper-button-next {
        right: 42%;
        left: auto;
        top: 93%;
        color: #fff;
    }

    img.logo_width {
        filter: none !important;
    }

    .logo_width {
        width: 170px !important;
    }

    .front-header-search.active {
        top: 7px;
    }

    .d_flexs {
        display: flex;
    }

    .search-input-box>input {
        height: 40px !important;
    }

    body .header_searchs {
        margin-left: -8px !important;
    }

    .top_baar_icons img {
        filter: none !important;
    }

    .elete_selection h4 {
        font-size: 20px;
    }

    .contact_image_box {
        top: 30px;
        left: 30px;
    }

    section.contact_us_sec .row_box .w-100 {
        border-radius: 50px 50px 0px 0px;
    }

    section.contact_us_sec .row_box .coloum_boxex_shadow {
        box-shadow: 0px 0px 30px -8px #0000002e;
        border-radius: 0px 0px 50px 50px;
        margin: 0px 15px;
        padding-bottom: 35px;
        padding-top: 20px;
    }

    .contact_welcome_test {
        color: #fff;
        font-size: 28px;
        padding-top: 20px;
    }

    .font_55 {
        font-size: 20px;
        padding: 0 0px !important;
        line-height: 30px;
    }

    .banner_video video#myVideo2 {
        height: 450px;
        width: 220% !important;
        object-fit: cover;
        left: -50%;
    }

    .location_section h4 {
        font-size: 20px !important;
    }

    .signature_box h4 {
        font-size: 20px !important;
        padding-bottom: 20px;
    }

    .aniversary_logo img {
        width: 120px !important;
        padding-top: 10px;
    }

    body .header_position {
        position: relative !important;

    }

    .mt_20 {
        margin-top: 0;
    }

    .banner_video img.w-100 {
        height: 300px;
        object-fit: cover;
        object-position: center;
    }

    .banner_content {
        position: absolute;
        width: 96%;
        bottom: 0;
        z-index: 999;
        left: 2%;
    }

    .shop_now_button a {
        border: 1px solid;
        padding: 5px 16px;
        margin-top: 9px;
        display: inline-block;
        margin-bottom: 40px;
        font-size: 16px;
    }

    .banner_content h4 {
        color: #fff;
        font-size: 28px;
        line-height: 36px;
        font-weight: 500;
        letter-spacing: 0.5px;
    }

    .main_heading {
        font-size: 28px;
        line-height: 32px;
    }

    .discovery_section img {
        height: 50vh;
        object-fit: cover;
        object-position: center;
    }

    .discovery_content h4 {
        color: #fff;
        font-size: 28px;
        font-weight: 500;
        line-height: 36px;
        letter-spacing: 0.5px;
    }

    .title_bg_clr {
        font-size: 20px;
    }

    .shadow-effect {
        background: #fff;
        padding: 45px 20px 20px 20px;
        border-radius: 0;
        text-align: center;
        height: auto;
    }

    p {
        font-size: 16px;
        line-height: 26px;
    }

    div#customers-testimonials {
        margin: 0px 15px;
    }

    .shop_content {
        font-weight: 400;
        font-size: 28px;
        line-height: 36px;
        padding-top: 20px;
    }

    .shop_now_button2 a {
        border: 1px solid;
        padding: 5px 16px;
        margin-top: 9px;
        font-size: 16px;
        color: #1D1A15;
        display: inline-block;
        margin-bottom: 10px;
    }

    .about_section {
        padding: 30px 15px;
    }

    p.about_content_para1 {
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
    }

    .aboutbg_logo img {
        width: 87%;
    }

    .aboutbg_logo {
        position: absolute;
        left: 11%;
        top: 74px;
    }

    .discovery_content {
        padding: 15px;
    }

    .uinique_box p.shop_content {
        font-size: 40px;
        line-height: 55px;
    }

    .unique_section .uinique_box img {
        width: 70px;
        margin-bottom: 10px;
    }

    .listing_tabs button {
        font-size: 18px;
        margin: 0px 10px !important;
    }

    .add_cart_btns {
        border: 1px solid #1D1A15;
        color: #1D1A15 !important;
        opacity: 0.8;
        margin-top: 14px;
        font-weight: 300 !important;
        height: auto;
        padding-bottom: 3px;
        font-size: 16px !important;
    }

    .pddright-100 {
        padding-right: 0;
    }

    .footer_logo img {
        width: 130px;
        height: auto;
    }

    .pdd-0 {
        padding: 0px;
    }

    .product_listing_content {
        padding: 30px 30px;
    }

    .product_listing_content h4 {
        font-size: 28px;
    }

    .pddleft_m {
        padding-left: 10px;
        padding-right: 10px;
    }

    .pddleft_m:nth-child(odd) {
        padding-left: 15px;
        padding-right: 8px;
    }

    .pddleft_m:nth-child(even) {
        padding-right: 15px !important;
        padding-left: 8px;
    }

    .fs40 {
        font-size: 28px;
        font-weight: 500;
    }

    .min-w-180px {
        font-size: 18px !important;
        padding-left: 0;
        padding-right: 0;
        margin-top: 10px;
    }

    .breadcrums_sedction h4 {
        font-size: 24px;
        padding-top: 15px;
    }

    .breacrums_bg {
        padding: 20px 0px 15px 0px;
    }

    .w100 {
        width: 70px;
    }

    .height_250 img {
        height: 150px;
        object-fit: cover;
    }

    .offer_coupon {
        background: #fff;
        position: absolute;
        z-index: 0;
        right: -49px;
        bottom: 195px;
        transform: rotate(-48deg);
        padding: 10px 37px;
    }

    .offer_coupon p {
        color: #1D1A15;
        margin-bottom: 0;
        font-size: 18px;
        font-weight: 500;
    }

    .min-w-180px {
        width: 175px;
    }

    .video_section {
        height: auto;
    }
}


@media(min-width:768px) and (max-width:991px) {
    html {
        overflow-x: hidden;
    }

    .diplay_none {
        display: none;
    }

    .follow_heads {
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
        letter-spacing: 0.5px;
    }

    .about_content_sec {
        padding: 0px 1px;
    }

    .shop_box_content {
        padding: 0 30px;
    }

    .shop_box_content h4 {
        font-size: 24px;
    }

    .aniversary_logo img {
        width: 130px;
    }

    .video_section img {
        height: auto;
    }

    .location_section h4 {
        font-size: 18px;
    }

    .sign_head {
        width: 87%;
    }

    .sign_head h4 {
        font-size: 20px;
    }

    .header_searchs i {
        position: relative;
        right: -25px;
    }

    .mt_20 {
        margin-top: 0;
    }

    .front-header-search {
        height: 100%;
    }

    .d_flexs {
        display: flex;
    }

    .logo_width {
        width: 230px !important;
    }

    .header_searchs {
        margin-right: 0px !important;
        padding-right: 0;
        margin-top: 0;
    }

    .banner_video video#myVideo2 {
        height: 450px;
        width: 220% !important;
        object-fit: cover;
        left: -50%;
    }

    .banner_content {
        position: absolute;
        width: 92%;
        bottom: 0;
        z-index: 999;
        left: 4%;
    }

    .shop_now_button a {
        border: 1px solid;
        padding: 8px 16px 5px 16px;
        margin-top: 9px;
        display: inline-block;
        margin-bottom: 40px;
        font-size: 16px;
    }

    .banner_content h4 {
        color: #fff;
        font-size: 28px;
        line-height: 36px;
        font-weight: 500;
        letter-spacing: 0.5px;
    }

    .main_heading {
        font-size: 28px;
        line-height: 32px;
    }

    .discovery_section img {
        height: 50vh;
        object-fit: cover;
        object-position: center;
    }

    .discovery_content h4 {
        color: #fff;
        font-size: 28px;
        font-weight: 500;
        line-height: 36px;
        letter-spacing: 0.5px;
    }

    .title_bg_clr {
        font-size: 20px;
    }

    .shadow-effect {
        background: #fff;
        padding: 45px 20px 20px 20px;
        border-radius: 0;
        text-align: center;
        height: auto;
    }

    p {
        font-size: 16px;
        line-height: 26px;
    }

    div#customers-testimonials {
        margin: 0px 15px;
    }

    .shop_content {
        font-weight: 400;
        font-size: 28px;
        line-height: 36px;
        padding-top: 20px;
    }

    .shop_now_button2 a {
        border: 1px solid;
        padding: 8px 16px 5px 16px;
        margin-top: 9px;
        font-size: 16px;
        color: #1D1A15;
        display: inline-block;
        margin-bottom: 10px;
    }

    .about_section {
        padding: 30px 15px;
    }

    p.about_content_para1 {
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
    }

    .aboutbg_logo img {
        width: 87%;
    }

    .aboutbg_logo {
        position: absolute;
        left: 11%;
        top: 74px;
    }

    .discovery_content {
        padding: 15px;
    }

    .uinique_box p.shop_content {
        font-size: 26px;
        line-height: 36px;
    }

    .unique_section .uinique_box img {
        width: 70px;
        margin-bottom: 10px;
    }

    .listing_tabs button {
        font-size: 18px;
        margin: 0px 10px !important;
    }

    .add_cart_btns {
        border: 1px solid #1D1A15;
        color: #1D1A15 !important;
        opacity: 0.8;
        margin-top: 14px;
        font-weight: 300 !important;
        height: auto;
        padding-bottom: 3px;
        font-size: 16px !important;
    }

    .pddright-100 {
        padding-right: 0;
    }

    .footer_logo img {
        width: 130px;
        height: auto;
    }

    .pdd-0 {
        padding: 0px;
    }

    .product_listing_content {
        padding: 30px 30px;
    }

    .product_listing_content h4 {
        font-size: 28px;
    }

    .pddleft_m {
        padding-left: 10px;
        padding-right: 10px;
    }

    .pddleft_m:nth-child(odd) {
        padding-left: 15px;
        padding-right: 8px;
    }

    .pddleft_m:nth-child(even) {
        padding-right: 15px !important;
        padding-left: 8px;
    }

    .fs40 {
        font-size: 28px;
        font-weight: 500;
    }

    .min-w-180px {
        font-size: 18px !important;
        padding-left: 0;
        padding-right: 0;
        margin-top: 10px;
    }

    .breadcrums_sedction h4 {
        font-size: 24px;
        padding-top: 15px;
    }

    .breacrums_bg {
        padding: 20px 0px 15px 0px;
    }

    .w100 {
        width: 70px;
    }

    .height_250 img {
        height: 150px;
        object-fit: cover;
    }

    .offer_coupon {
        background: #fff;
        position: absolute;
        z-index: 0;
        right: -49px;
        bottom: 195px;
        transform: rotate(-48deg);
        padding: 10px 37px;
    }

    .offer_coupon p {
        color: #1D1A15;
        margin-bottom: 0;
        font-size: 18px;
        font-weight: 500;
    }

    .min-w-180px {
        width: 175px;
    }

    .video_section {
        height: auto;
    }
}


@media(min-width:992px) and (max-width:1199px) {
    html {
        overflow-x: hidden;
    }

    .banner_content {
        position: absolute;
        width: 100%;
        bottom: 60px;
        z-index: 999;
        left: 0%;
    }

    .aniversary_logo img {
        width: 166px;
    }

    .aniversary_section h3 {
        font-size: 36px;
        margin-bottom: 0;
    }

    .main_heading {
        font-size: 40px;
    }

    .video_section img {
        height: auto;
    }

    .banner_content h4 {
        color: #fff;
        font-size: 48px;
        line-height: 55px;
        font-weight: 500;
        letter-spacing: 0.5px;
    }

    .header_position .container {
        max-width: 96%;
        padding: 0;
    }

    .header_position li a {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    .shop_content {
        font-weight: 400;
        font-size: 40px;
        line-height: 55px;
    }
}